# Testing
pytest==8.3.5; python_version >= '3.8'
pytest-cov==6.0.0; python_version >= '3.9'
pytest-xdist==3.6.1; python_version >= '3.8'

# Linting & Code Formatting
flake8==7.1.2; python_full_version >= '3.8.1'
black==25.1.0; python_version >= '3.9'
isort==6.0.1; python_full_version >= '3.9.0'
ruff==0.4.2; python_version >= '3.8' 

# Security
bandit==1.8.3; python_version >= '3.9'

# Type Checking
mypy==1.15.0; python_version >= '3.9'
mypy-extensions==1.0.0; python_version >= '3.5'

# Pre-commit hooks
pre-commit==4.1.0; python_version >= '3.9'

# Documentation 
sphinx==7.4.7; python_version >= '3.9'
sphinx-rtd-theme==2.0.0; python_version >= '3.6'
sphinxcontrib-applehelp==2.0.0; python_version >= '3.9'
sphinxcontrib-devhelp==2.0.0; python_version >= '3.9'
sphinxcontrib-htmlhelp==2.1.0; python_version >= '3.9'
sphinxcontrib-jquery==4.1; python_version >= '2.7'
sphinxcontrib-jsmath==1.0.1; python_version >= '3.5'
sphinxcontrib-plantuml==0.30
sphinxcontrib-qthelp==2.0.0; python_version >= '3.9'
sphinxcontrib-serializinghtml==2.0.0; python_version >= '3.9'
